.regform{
  background: #24303c;
  margin: 2% auto;
  width: 30%;
	padding: 1% 2%;
}

.regform__input{
  background: #24303c;
  border: 1px solid #86959a;
  padding: 1.5%;
  width: 87%;
  margin: 3% 5%;
  height: 20px;
  color: #fff;
}

.regform__name, .regform__surname{
  width: 40%;
  margin: 1.5%;
  position: relative;
  left: 4%;
  display: inline-block;
}

#file{
  display: none;
}

.regform__label{
  color: #fff;
  padding: 2% 9%;
  background: #1a87b1;
  margin: 1% 25%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  width: 35%;
  height: 10%;
}

.regform--send{
  background: #1ab188;
  color: #fff;
  border: none;
  text-transform: uppercase;
  height: 35px;
  width: 92%;
  padding: 2% 8%;
  margin: 0 4%;
}
