.App {
	text-align: center;
	background-color: #F7F7F7;
	font-size: 16px;
}


.information
{font-size: 18px;}

/**/

.Description {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}
.titleInfo{
	text-align: center;
	font-size: 30px;
}
.Contacts {
	width: 80%;
}

.JobImage {
	width: 80%;
	margin: 0 auto;
	height: 200px;
	display: flex;
	justify-content: space-between;
	/*display: grid;
  grid-template-columns: 33% 33% 33%;*/
}

.JobFeatures {
	display: grid;
	grid-template-columns: 50% 50%;
}

.JbImage {
	width: 300px;
	margin: 1%px;
}

.Map img {
	width: 80%;
	margin: 20px auto;
}