.App {
	text-align: center;
	background-color: #F7F7F7;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/**/

.Description {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.Contacts {
	width: 80%;
}

.JobImage {
	width: 80%;
	margin: 0 auto;
	height: 200px;
	display: flex;
	justify-content: space-between;
	/*display: grid;
  grid-template-columns: 33% 33% 33%;*/
}

.JobFeatures {
	display: grid;
	grid-template-columns: 50% 50%;
}

.JbImage {
	width: 300px;
	margin: 1%px;
}

.Map img {
	width: 80%;
	margin: 20px auto;
}